<div class="p-3">
    <h1>Benvenuti nella pagina dei commenti</h1>
    <h3 class="text-muted">Raccolta di testi e poesie dei nostri utenti</h3>
    <img src="https://i1.pickpik.com/photos/394/276/32/vintage-typewriter-typewriting-old-preview.jpg" alt="parole scritte su un foglio" class="img-fluid">
    <p>In questa pagina potete trovare una raccolta di commenti, vi basta accedere alla sezione <strong>Post</strong> per trovare la nostra selezione.</p>
    <p class="h3 text-center text-primary">...Ma abbiamo bisogno di te!</p>
    <p>Siamo sempre alla ricerca di nuovi commenti da aggiungere nella nostra collezione. </p>
    <p>Per poter aggiungere un nuovo commento ti bastera' entrare nella sezione <em>Nuovo Post</em> dalla barra dei menu o da <button type="button" class="btn btn-primary" routerLink="/new">QUI</button></p>
</div>
